<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::report">
                <resource id="Biz_CategorySalesReport::report" title="Category Sales Report" />
            </resource>
        </resource>
    </resources>
</acl>
